page-home {
    h1{

        text-align: center
    }
    h6{

        text-align: center
    }

    img{

        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    button{
        position: absolute;
        top:100px; /* posiciona a 70px para baixo */
    }

}
