page-mapa-notificacao {
    #map_canvas{
        width: 100%;
        height: 100%;
    }

    div.figure {
        width: 100%;
        height: 100vh;
    }
    img.scaled {
        width: 280px;
        height: 260px;
        object-fit: cover;
        object-position: center;
    }

    h3{
        text-align: center
    }

}
